.media {
  display: flex;
  align-items: center;
}
.image1 {
  height: 300px;
}
i{
  font-size: large;
  cursor: pointer;
}
.fa-trash{
  margin-left: 20px;
}
.change{
  text-align: center;
}

@media screen and (max-width: 700px) {
  .image1 {
    height: 100%;
  }
  .media {
    display: flex;
    flex-direction: column-reverse;
  }
}
